@mixin mainPgContainers($background-color, $grid-area, $margin) {
  background-color: $background-color;
  grid-area: $grid-area;
  margin: $margin;
}
@mixin buttonsMainStyling() {
  background: none;
  border: none;
  height: 3.4vw;
  width: 3.4vw;
}
