@mixin mainPgContainers($background-color, $margin) {
  background-color: $background-color;
  margin: $margin;
}

@mixin buttonsMainStyling() {
  background: none;
  border: none;
  color: $white-color;
  font-size: 8vw;
}
