*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  background-color: #1F1F1F;
  font-family: 'Oswald', sans-serif;
}

/* HEADER */
header {
  text-align: center;
  height: 9vw;
}

button:active {
  border: none;
  outline: none;
}

.profile-button {
  background: none;
  font-size: 5.6vw;
  border: none;
  display: inline;
  float: right;
  height: 5.6vw;
  margin-right: .5vw;
  margin-top: 1.6vw;
  width: 5.6vw;
  color: #ffffff;
}

#userInfoDropdown {
  background-color: #1F1F1F;
  color: white;
  margin-left: 60%;
  margin-top: -1.2%;
  position: relative;
  text-align: center;
  z-index: 100;
}

.dropdown-p {
  font-size: 1.2vw;
  font-weight: 300;
  padding-bottom: 1vw;
  padding-top: 0;
  text-align: center;
  width: 100%;
}

/* TEXT ELEMENTS */
h1 {
  color: #fff;
  display: inline;
  font-size: 5.4vw;
  letter-spacing: .2em;
}

h2 {
  display: inline;
  font-family: 'Work Sans', sans-serif;
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: .2em;
}

h3 {
  font-size: 7vw;
  letter-spacing: .1em;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: .2vw;
  margin-right: 1vw;
  padding-top: 2vw;
  text-align: right;
  width: 9vw;
  word-break: keep-all;
}

h5 {
  font-size: 1.8vw;
  padding-bottom: 1vw;
  text-align: center;
}

p {
  font-size: 6vw;
  font-weight: 700;
}

/* MAIN */
main {
  display: grid;
  grid-template-areas:
  'steps hydration'
  'stairs sleep';
  height: 100%;
}

.main-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 20vw;
  justify-content: center;
}

.main-card-top-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-card-bottom-row {
  text-align: center;
  width: 100%;
}

.steps-container {
  background-color: #F5634B;
  grid-area: steps;
  margin: .5vw;
}

.hydration-container {
  background-color: #54C6BE;
  grid-area: hydration;
  margin: .5vw;
}

.stairs-container {
  background-color: #8975B2;
  grid-area: stairs;
  margin: .5vw;
}

.sleep-container {
  background-color: #FBD089;
  grid-area: sleep;
  margin: .5vw;
}

.card-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: 2vw;
}

.hydration-weekly-label {
  font-size: 1vw;
  padding-top: 1vw;
}

.hydration-weekly-amount {
  font-size: 2vw;
}

.hydration-data-line {
  display: flex;
  justify-content: center;
  margin-bottom: .2vw;
}

.trend-line {
  font-size: 2vw;
  text-align: center;
  width: 20vw;
}

/* BUTTONS */
.info-button {
  background: none;
  color: #ffffff;
  font-size: 3.4vw;
  border: none;
  display: inline;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
}

.friends-button {
  background: none;
  color: #ffffff;
  font-size: 3vw;
  border: none;
  display: inline;
  height: 3.4vw;
  margin-right: 1vw;
  width: 3.4vw;
}

.calendar-button {
  background: none;
  color: #ffffff;
  font-size: 3.4vw;
  border: none;
  display: inline;
  float: right;
  height: 3.4vw;
  margin-right: 1vw;
  width: 3.4vw;
}

.trending-button {
  background: none;
  border: none;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
}

.go-back-button {
  background: none;
  color: #ffffff;
  font-size: 3.4vw;
  border: none;
  height: 3.4vw;
  margin-left: 1vw;
  width: 3.4vw;
}

// Form Modal
input {
  margin-bottom: 1vw;
  width: 40%;
  padding: 2vw;
  font-size: 1.5vw;
}

label {
  display: block;
  text-align: center;
  line-height: 2vw;
}

.post-button {
  width: 8vw;
  height: 3vw;
  background-color: #000000;
  font-size: 2vw;
  color: #ffffff;
  border: none;
  border-radius: 1vw;
  display: block;
  align-self: center;

  &:hover {
    background-color: gray;
  }
}

.post-modal {
  position: fixed;
  z-index: 1;
  padding-top: 4%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  text-align: center;
}

.modal-content {
  margin: auto;
  background-color: white;
  padding: 2% 4%;
  border: 1px solid gray;
  height: auto;
  width: 70%;
  overflow: auto;
  font-size: 3vw;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin: 2vw;
  }
}

.close-modal {
  background: none;
  border: none;
  color: gray;
  align-self: self-end;
  font-size: 4vw;
  font-weight: bold;
  transition: transform 400ms;
}

.close-modal:hover {
  cursor: pointer;
  transform: scale(1.5, 1.5);
}

.success-msg {
  color: green;
  font-size: 2vw;
}

.error-msg {
  color: red;
  font-size: 1.5vw;
}


/* CHANGING CLASSES */
.hide {
  display: none;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.yellow-text {
  color: #F8BA00;
}
