$primary-font-body: 'Oswald', sans-serif;
$secondary-font-header: 'Work Sans', sans-serif;
$white-color: #ffffff;
$background-color: #1F1F1F;
$steps-walked-card-styling: #F5634B, 0.5vw;
$hydration-card-styling: #54C6BE, 0.5vw;
$stairs-climbed-card-styling: #8975B2, 0.5vw;
$sleep-card-styling: #FBD089, 0.5vw;
