$primary-font-body: 'Oswald', sans-serif;
$secondary-font-header: 'Work Sans', sans-serif;
$white-color: #ffffff;
$steps-walked-card-color: #F5634B;
$water-card-color: #54C6BE;
$stairs-climbed-card-color: #8975B2;
$sleep-card-color: #FBD089;
