$primary-font-body: 'Oswald', sans-serif;
$secondary-font-header: 'Work Sans', sans-serif;
$white-color: #ffffff;
$steps-walked-card-styling: #F5634B, steps, .5vw; 
$hydration-card-styling: #54C6BE, hydration, .5vw;
$stairs-climbed-card-styling: #8975B2, stairs, .5vw;
$sleep-card-styling: #FBD089, sleep, .5vw;
